.card-product {
    margin-top: 100px;
}

.about-product {
    text-align: left;
}

.price {
    margin-top: 20px;
    margin-bottom:20px;
}

.card-product p {
margin-top:20px;
margin-bottom:20px;
}

.image-postpage {
    width: 100%;
}