.accordion-wrapper {
    margin-left: 30px;
}
/*обертка контента*/
.WithStyles\(ForwardRef\(AccordionDetails\)\)-root-6 {
    display: flex;
    flex-direction: column;
}
/*контент*/
.WithStyles\(ForwardRef\(AccordionDetails\)\)-root-6 p {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.00938em;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
    text-align: left;
}

.WithStyles\(ForwardRef\(Accordion\)\)-root-1 {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/*заголовок*/
.MuiAccordionSummary-content p {
    cursor: pointer;
    font-size: 17px;
    transition: all .3s;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
    color: #1a6692;
    text-align: left;

}

.MuiAccordionSummary-content p:hover {
    color: #f33f3f;
}

/* active*/
.WithStyles\(ForwardRef\(AccordionSummary\)\)-content-4.WithStyles\(ForwardRef\(AccordionSummary\)\)-expanded-5 p {
    color: #f33f3f;
}